#--- core ---
cython==3.2.2
nuitka==2.6.7
pyyaml==6.0.3
requests==2.32.5
psutil==7.1.3
orjson==3.11.4
cryptography==46.0.3
PyJWT==2.10.1
python-dotenv==1.2.1
python-dateutil==2.9.0.post0
pytz==2025.2
urllib3>=2.6.3
jaraco.context>=6.1.0

#--- networking ---
netifaces==0.11.0
pyOpenSSL==25.3.0
dnspython==2.8.0

#--- blockchain ---
web3==7.14.0
py-ecc==8.0.0
py4j==0.10.9.9
boto3==1.42.3
botocore==1.42.3

#--- database ---
# required
psycopg2-binary==2.9.11
pymongo==4.15.5

#--- monitoring ---
# grpc
protobuf==6.33.1
grpcio==1.76.0
grpcio-tools==1.76.0
grpcio-reflection==1.76.0

# docker
docker==7.1.0

#--- industrial ---
paho-mqtt==2.1.0
kafka-python==2.3.0
pycomm3==1.2.14
opcua==0.98.13
pymodbus==3.6.9

#--- blobs ---
av==16.0.1
numpy==2.2.6
pillow==12.1.0
opencv-python-headless==4.12.0.88
yt-dlp==2025.11.12
xmltodict==1.0.2

#--- api_server ---
fastapi[standard]==0.128.0
uvicorn==0.38.0
httpx==0.28.1
sse-starlette==3.0.3
httpx-sse==0.4.3
python-multipart==0.0.20

#--- async ---
aiofiles==25.1.0
aiohttp==3.13.2
aiosqlite==0.21.0
anyio==4.12.0
propcache==0.4.1

#--- schema_validation ---
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
referencing==0.37.0
lxml==6.0.2

#--- dev_tools_parsing ---
colorama==0.4.6
docstring_parser==0.17.0
click==8.3.1
distro==1.9.0
sortedcontainers==2.4.0

#--- ai_mcp ---
anthropic==0.75.0
mcp==1.23.1
mcp-proxy==0.10.0
jiter==0.12.0

