# setup
cython>=0.0
pyyaml>=0.0

# General
#ast>=0.0
requests>=0.0
cryptography>=0.0
# jwt>=0.0 # in alpine we install py3-jwt
pyOpenSSL>=0.0
psutil>=0.0
orjson>=0.0

# Datetime
python-dateutil>=0.0
pytz>=0.0

# Database
psycopg2-binary>=0.0
pymongo>=0.0

# North/South Plugins
paho-mqtt==1.5
kafka-python>=0.0

# Blockchain
# web3>=0.0
# py4j>=0.0

# Images + Videos
#base64>=0.0
# numpy; platform_system != "alpine" # in alpine we install py3-nwumpy
# opencv-python>=0.0; platform_system != "alpine" # in alpine we install py3-opencv

# gRPC
grpcio>=0.0
grpcio-tools>=0.0
grpcio-reflection>=0.0
