<?xml version="1.0" encoding="utf-8"?>
<Configuration Provider="System.Data.OleDb.OleDbConnection">
  <DataSource>
    <Name>PI SQL Client</Name>
    <ConnectionStringDistiguisher>PISQLClient</ConnectionStringDistiguisher>
    <ConnectionString>Provider=PIOLEDB;Data Source=myAfServer\myAfDatabase;Integrated Security=SSPI;</ConnectionString>
    <ConnectionString>Provider=PIOLEDB;Data Source=myAfServer\myAfDatabase;User ID=myUserName;Password=myPassword;</ConnectionString>
    <ConnectionStringBuilder>
      <Format>Provider=PIOLEDB;Data Source={0}\{1}; Integrated Security=SSPI;</Format>
      <Parameter>PI Asset Framework Server Name</Parameter>
      <Parameter>PI Asset Framework Database Name</Parameter>
    </ConnectionStringBuilder>
    <DefaultQuery>SELECT Item, Version, FriendlyVersion FROM System.Diagnostics.Version</DefaultQuery>
  </DataSource>
</Configuration>